.ftco-section {
  padding-top: 7em;
  background-image: url("https://wallpaperaccess.com/full/6090309.jpg");
  background-position: center;
  height: 100vh;
  width: 100%;
}

.login-wrap {
  position: relative;
  background-color: rgba(83, 86, 90, 0.45);
  border-radius: 5%;
}

.form-group {
  position: relative;
}

.form-control {
  margin: 10% 0;
  height: 50px;
  color: white !important;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-control::placeholder {
  color: #fff;
  opacity: 1;
}

.btn.btn-primary {
  background: #fbceb5 !important;
  border: 1px solid #fbceb5 !important;
  color: #000 !important;
}
